<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ec-dataWidgetLoader</title>
  <meta name="description" content="ec-dataWidgetLoader">
  <meta name="author" content="belux\rds">
</head>
<body style="margin:1em">

    <div id='content'></div>
    <script src="polyfill.min.js" ></script>
    <script src="ec-datapluginloader.js"></script>

<script>
    $(document).ready(function () {        
        $('#content').load('ec-datapluginloader.html', function( response, status, xhr ) {
            if ( status == "error" ) console.warn("ec-datapluginloader.html: " + xhr.status + " " + xhr.statusText);
             loadScriptsAndWidgets({
                "cdnUrl" : "https://cdn.euroconsumers.org",
                "widgetVersionUrl":"/widgetVersion.json",
                "jQueryUI" : [
                    "/vendor/jquery/jquery-ui/1.12.0/jquery-ui.min.js",
                    "/vendor/jquery/jquery-ui/1.12.0/jquery-ui.min.css",
                    "/vendor/jquery/jquery-ui/1.12.0/jquery-ui.theme.min.css"
                ] 
            });
        });
    });
</script>
</body>

</html>
